<button {{action expire view.content}} type="button" class="close">&times;</button>
<button {{action regret view.content}} class="btn btn-mini btn-info" style="margin-right: 1em;">Undo</button>
You have delete "<em>{{view.content.name}}</em>".
