<h2>New List</h2>

<div class="form-horizontal">
  <div class="control-group">
    {{view Bootstrap.Forms.TextField valueBinding="name" action="create"}}
  </div>
  <div class="form-actions">
    <input {{action create}} type="submit" class="btn btn-primary" value="Create List" />
    <input {{action cancel}} type="submit" class="btn" value="Cancel" />
  </div>
</div>
