<table class="tasks table table-striped table-hover">
  <thead>
    <tr>
      <th class="is-done"></th>
      <th class="task">Task</th>
      <th class="estimate">Est. duration</th>
      <th class="actions"></th>
    </tr>
  </thead>

  {{view Todo.TaskTableRowsView contentBinding=controller}}
</table>

<div class="actions trailer">
  <button class="btn btn-primary" {{action addTask}} {{bindAttr disabled="isAddingNew"}}>Add Task</button>
</div>
